.left{float:left;}
.right{float:right;}

.disabled-true{color: #ccc;}

.action-fields tr th{
  padding:0 10px 5px 0;
}

.action-fields tr td{
  padding:0 10px 10px 0;
}

.action-fields th.field{max-width:100px;}
.action-fields th.value{width:110px;}

.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}
 
.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

/* animate everything */
*{
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.showing-true{opacity:1;}
.showing-false{opacity:0;}
.showing-block-true{display:block;}
.showing-block-false{display:none;}
.showing-inline-true{display:inline;}
.showing-inline-false{display:none;}


.bold{font-weight:bold;}

#wrapper{
  margin:0 auto;
  width:800px;
}

#rhc{
  position: fixed;
  left: 50%;
  margin-left: 450px;
  top: 43px;
  width: 187px;
}

  #rhc .form-group{margin-bottom: 10px;}

  #rhc #search input,
  #rhc #search select{
    width: 150px;
  }

  #rhc #sorting select{
    width:135px;
  }



#content{
  float:left;
  width:100%;
  margin-bottom:40px;
}

#asset-table{

}

  #asset-table tr{
    
  }        

    #asset-table tr th{position:relative;}        
    #asset-table tr td label{font-weight:normal;}        

    #asset-table tr th.select{width:30px;text-align: center;}
    #asset-table tr th.table-column-type-icon{width:27px;}
    #asset-table tr th.table-column-status-icon{width:22px;}
    #asset-table tr th.table-column-id{width:60px;}        
    #asset-table tr th.remove{width:60px;}        
    #asset-table tr td.select{text-align: center;}        
    #asset-table tr td.id{font-weight:bold;}        
    #asset-table tr td.remove{text-align: center;}        

    #asset-table tr th.sorting-true .sort-triangle{
      width:0;
      height:0;
      position:absolute;
      top:10px;
      right:7px;
      border-top: 0px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 10px solid #ccc;
      border-left: 6px solid transparent;
    }

        #asset-table tr th.sorting-true.sort-reverse-true .sort-triangle{
              -webkit-transform:rotate(180deg);
              -o-transformrotate(180deg); 
              transform:rotate(180deg);
        }

#footer-panel{
  position:fixed;
  bottom:-470px;
  left:50%;
  width:850px;
  height:510px;
  margin-left:-425px;
  z-index:1;
}

#footer-panel.down-true{bottom:0px;}

  #footer-panel .footer-panel-content{
    width:100%;
    height:470px;
    padding:20px 20px 10px;
    background:#eee;
    position:absolute;
    bottom:0px;
    left:0px;
    opacity:0;
    z-index:1;
  }
  #footer-panel .footer-panel-content.active-true{
    opacity:1;
    z-index:2;
  }


  #footer-panel .footer-tab-button{
    float:left;
    background: #999;
    padding: 5px 20px;
    text-align: center;
    font-size: 21px;
    border-right: 1px solid #777;
    cursor:pointer;
  }
  #footer-panel .footer-tab-button:hover,
  #footer-panel .footer-tab-button.active-true{background: #eee;}

  #footer-panel .footer-panel-content .inner-tab-buttons{
    width: 100px;
    position: absolute;
    top: 20px;
    left: 25px;
  }

    #footer-panel .footer-panel-content .inner-tab-buttons .footer-inner-tab-button{
      background: #999;
      padding: 5px 10px;
      text-align: center;
      font-size: 17px;
      border-bottom: #555 solid 1px;
      cursor:pointer;
    }
    #footer-panel .footer-panel-content .inner-tab-buttons .footer-inner-tab-button:hover,
    #footer-panel .footer-panel-content .inner-tab-buttons .footer-inner-tab-button.active-true{background: #ddd;}

  #footer-panel .footer-panel-content .inner-tab-contents{
    position: absolute;
    left: 125px;
    width: 710px;
    height: 340px;
  }

  #footer-panel .footer-panel-content .inner-tab-contents .inner-tab-content{
    background: #ddd;
    padding: 15px 20px; 
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
    z-index:1;
    width: 700px;
    height: 430px;    
  }
  #footer-panel .footer-panel-content .inner-tab-contents .inner-tab-content.active-true{
    opacity:1;
    z-index:2;
  }
/********************** Individual tabs **************************/

#tab-3-content #csv-divider{width:50px;}



/********************** LOADING STATE **************************/


.loading-true #overlay{display:block;}


@font-face {
  font-family: 'icomoon';
  src:url('http://s3.amazonaws.com/icomoonfonts/4/6/f.eot');
  src:url('http://s3.amazonaws.com/icomoonfonts/4/6/f.eot?#iefix') format('embedded-opentype'),
    url('http://s3.amazonaws.com/icomoonfonts/4/6/f.woff') format('woff'),
    url('http://s3.amazonaws.com/icomoonfonts/4/6/f.ttf') format('truetype'),
    url('http://s3.amazonaws.com/icomoonfonts/4/6/f.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.loading-icon:before{
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.loading-icon:before {
  content: "\e001";
}

@-moz-keyframes rotate {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}



#overlay {
    width: 100%;
    height: 100%;
    background: url('mysource_files/opaque-bg.png') repeat;
    position: fixed;
    top:0px;
    left:0px;
    display:none;
    z-index: 10;
}

#overlay #loading-box {
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left:-250px;
  color: #fff;
  margin-top: -140px;
}


#overlay #loading-box .spinner {
  position:absolute;
  left: 50%;
  margin: 0px 0px 0px -30px;
  font-size:4em;
  height: 1em;
  line-height: 1;
  -moz-animation: rotate 1.5s linear 0s infinite;
  -webkit-animation: rotate 1.5s linear 0 infinite;
  color: #fff;
  text-shadow: 0 0 .25em rgba(255,255,255, .3);
}

#overlay #loading-box .loading-text {
margin-top: 80px;
font-size: 28px;
text-align: center;
}

#overlay #loading-box #progress-bar1 {top:520px;}
#overlay #loading-box #progress-bar2 {top:570px;}

#overlay #loading-box .progress-bar {
  text-align: left;
  background-color: #1a1a1a;
  height: 25px;
  padding: 5px;
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}

#overlay #loading-box .progress-bar span {
    /*background-color: #34c2e3;  */
    display: inline-block;
    height: 100%;
    background-color: #777;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;    


    -webkit-background-size: 30px 30px;
    -moz-background-size: 30px 30px;
    background-size: 30px 30px;     
    background-image: -webkit-gradient(linear, left top, right bottom,
    color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
    color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
    color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
    to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);            

    -webkit-animation: animate-stripes 3s linear infinite;
    -moz-animation: animate-stripes 3s linear infinite;           
}

@-webkit-keyframes animate-stripes { 
  0% {background-position: 60px 0;} 100% {background-position: 0 0;}
}

@-moz-keyframes animate-stripes {
  0% {background-position: 60px 0;} 100% {background-position: 0 0;}
}

